html, body {
    margin: 0;
}

#root {
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.menu {
    flex: 0 0 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #919edc;
}

/*
 * Everything except menu is contained here. It's done this way so menu is always on top.
 */
.content_container {
    flex: 1 1 auto;
    overflow: auto;
}

.submit_form {
    position: relative;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.submit_form > p {
    font-size: xx-large;
}

.submit_form > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Error field */
.submit_form > form > span {
    text-align: center;
    color: red;
    margin-top: 10px;
    margin-bottom: 20px;
    white-space: pre-line;
}

/* Normal field */
.submit_form > form > div {
    display: grid;
    margin-bottom: 10px;
    text-align: left;
    width: 300px;
}

.submit_form > form > div > label {
    margin-bottom: 5px;
}

/* Submit button */
.submit_form > form > button {
    padding: 5px 15px;
}

.submit_form > a {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-150px, 20px);
}

.simple_table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.simple_table td, .simple_table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.simple_table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.simple_table tr:hover {
    background-color: #ddd;
}

.simple_table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6e78c9;
    color: white;
}

.list_paginator {
    text-align: center;
    margin: 20px 0;
}

.list_paginator span {
    font-size: larger;
    margin: 0 5px;
}

.list_paginator button {
    border: none;
    text-decoration: none;
    font-size: medium;
    width: 80px;
    padding: 5px;
    margin: 5px 10px;
}

.not_started {
    color: #4e6f6d;
}

.running {
    color: #3d5aff;
}

.failed {
    color: #ff180e;
    font-weight: bold;
}

.succeded {
    color: #37ca07;
}

.cancelled {
    color: rgba(42, 53, 57, 0.8);
}

.job_page_container {
    height: 100%;
    display: flex;
    flex-flow: row;
}

.console_output {
    color: white;
    background-color: black;
    font-family: Consolas, monospace;
    flex: 10 0 auto;
    white-space: pre-line;
    padding: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: green;
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 16px;
    overflow: auto;
}

.job_info_pane {
    flex: 1 0 auto;
    border-style: solid;
    border-width: 5px;
    padding: 2px;
    border-color: #6e78c9;
    margin-bottom: 16px;
    display: flex;
    flex-flow: column;
    overflow: auto;
}

.job_info_pane > div {
    border-style: solid;
    border-width: 2px;
    margin-bottom: 2px;
    border-color: #6e78c9;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    background-color: #bfe3e7;
}

.job_info_pane > div > label:first-child {
    padding: 5px;
    flex: 1 0 auto;
    background-color: #2b6cd7;
    white-space: nowrap;
}

.job_info_pane > div > label:last-child {
    padding: 5px;
    flex: 1 0 auto;
    white-space: normal;
    max-width: 250px;
}

.pipeline_info_box {
    display: flex;
    flex-direction: row;
}

/* TODO: make this pretty (also right now this is @CopyPaste from job_info_pane) */
.pipeline_info_box > div {
    border-style: solid;
    border-width: 2px;
    margin-bottom: 2px;
    border-color: #6e78c9;
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    background-color: #bfe3e7;
}

.pipeline_info_box > div > label:first-child {
    padding: 5px;
    flex: 1 0 auto;
    background-color: #2b6cd7;
    white-space: nowrap;
}

.pipeline_info_box > div > label:last-child {
    padding: 5px;
    flex: 1 0 auto;
    white-space: nowrap;
    max-width: 250px;
}

.pipeline_job_graph_box {
    display: flex;
    overflow: auto;
    position: relative;
    /* We add padding so the tooltip for buttons won't cause the scroll area to change */
    padding-bottom: 15px;
    padding-right: 15px;
}

/* Proxy */
.pipeline_job_graph_box > div {
    position: relative;
}

/* Container for stages and blank space between them */
.pipeline_job_graph_box > div > div {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
}

/* Stage */
.pipeline_job_graph_box > div > div > div:nth-child(odd) {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

/* Blank space */
.pipeline_job_graph_box > div > div > div:nth-child(even) {
    /*
     * MANY FUCKING NIGHTS LATER: APPARENTLY, IF YOU SET FLEX-BASIS TO SOME CONSTANT AND DON'T SET
     * THE ACTUAL WIDTH, THEN THIS WON'T FUCKING COUNT TOWARDS THE PARENT'S WIDTH.
     * FUCKING PIECE OF SHIT...
     */
    width: 50px;
    flex: 0 0 auto;
}

/* Svg with edges */
.pipeline_job_graph_box > div > svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.pipeline_graph_node {
    padding: 5px;
    margin: 5px 5px 15px;
    border-radius: 5px;
    height: 20px;
    border-style: solid;
    /* Border width 5px actually shows up as 4.66666667 */
    border-width: 4px;
    border-color: #2b6cd7;
    background-color: white;
    white-space: nowrap;
    text-align: left;
}

.pipeline_list_stages_box {
    display: grid;
    grid: auto-flow dense / repeat(8, 1fr);
}

.job_link {
    display: flex;
    flex-direction: row;
}

.job_link > a {
    flex: 1 0 auto;
    text-decoration: none;
}

.job_link > a span {
    padding-left: 5px;
    font-weight: normal;
    font-size: large;
    white-space: nowrap;
    text-align: left;
}

.job_link > div {
    flex: 1 0 auto;
    display: inline-block;
    text-align: right;
}

/* Set this to all font-awesome icons to prevent content reflow due to lazy loading */
.fa_icon_fix_size {
    width: 16px;
    height: 16px;
}

.action_with_tooltip {
    position: relative;
    cursor: pointer;
    margin-left: 5px;
}

.action_with_tooltip > span {
    font-weight: normal;
    display: none;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: #585353;
    color: white;
    padding: 5px;
    border-radius: 5px;
    animation: 0.05s linear fade_in_bottom;
}

.action_with_tooltip:hover > span {
    display: inline;
}

@keyframes fade_in_bottom {
    from {
        top: 170%;
    }
    to {
        top: 120%;
    }
}

/*
 * Okay, so this is how this works. position:absolute tells the element to not in any way influence
 * the "document flow" (which means that it won't take up space when calculating the dimensions of
 * the parent container). Instead the element is positioned relative to the
 * "initial containing block" or the closest "positioned" ancestor if it exists.
 * The "initial containing block" seems to be either the body or the html tag, doesn't really
 * matter. And the "positioned" ancestor is a parent of the element, that has position != static
 * (i.e. the default one). All of this is soo counter-intuitive, but it is what it is. That's why
 * we need to set the position of the container to relative (which behaves exactly like the static
 * position, but it doesn't ignore the top/bottom/left/right attributes).
 */
.pipeline_list_dropdown_container {
    position: relative;
}

.pipeline_list_dropdown_container > button {
    border: none;
    text-decoration: none;
    font-size: medium;
    padding: 5px;
    margin: 5px 10px;
}

.pipeline_list_dropdown_container > div {
    position: absolute;
    /*
    * Why this works:
    * left: 50% translates the origin of this element in the **parent's** coordinate space and
    * translateX(-50%) again translates the origin, but in **this element's** coordinate space, so
    * it moves it by half of it's width
    */
    left: 50%;
    transform: translateX(-50%);
    /* Make the element start a bit lower than it's container */
    top: 110%;
    z-index: 1;
    padding: 5px;
    border-radius: 4px;
    border-style: solid;
    border-width: 4px;
    border-color: #2b6cd7;
    background-color: #d7edf1;
    display: flex;
    flex-direction: column;
}

.pipeline_list_dropdown_container > div > * {
    white-space: nowrap;
    text-align: center;
    text-decoration: none;
    padding: 6px;
    border: none;
}

.pipeline_list_dropdown_container > div > * + * {
    border-top-style: solid;
    border-top-width: 1px;
}

.pipeline_list_creation_container {
    display: inline-block;
    padding: 10px;
    margin: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: #6e78c9;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.pipeline_list_creation_container > div {
    display: flex;
    flex-direction: row;
}

.pipeline_list_creation_container > div > label {
    padding-right: 15px;
    margin-top: 3px;
    text-align: center;
    font-size: large;
}

.pipeline_list_creation_container > div > input {
    text-align: center;
    font-size: large;
}

.pipeline_list_creation_container > span {
    display: block;
    text-align: center;
    color: red;
    margin: 10px 0;
    white-space: pre-line;
}

.pipeline_list_creation_container > button {
    display: block;
    text-align: center;
    margin: 0;
    width: 100%;
    font-size: medium;
    padding: 10px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #2b6cd7;
}